

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
        }
               body {
            min-height: 100vh;
            background-color: black;
            background-image: url("fundo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            padding: 20px;
        }

            .texto {
            font-size: 40px;
            font-weight: 800;
            background: linear-gradient(50deg, #001aff,#0066ff,#ad433b,#ff1100);
            background-size: 400% 100%;
            animation: degrade 10s linear infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 30px;
        }

          @keyframes degrade{
            0% { background-position: 0%;}   
            100% { background-position: 400%;}
        }

        .tivit {
            font-family: Poppins, sans-serif;
            font-size: clamp(40px, 8vw, 80px);
            font-weight: 900;
            letter-spacing: 8px;
            text-transform: uppercase;
        }

            .almaviva {
            font-size: clamp(14px, 3vw, 22px);
            letter-spacing: 3px;
            margin-top: -10px;
        }
    
         main {
            background-color: rgba(255, 255, 255, 0.9);
            max-width: 600px;
            width: 90%;
            padding: 20px;
            margin: 30px auto;
            border: 1px solid darkblue;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
          h1 {
            color: darkblue;
            margin-bottom: 10px;
          }
        nav a {
            display: block;
            margin: 10px auto;
            padding: 12px;
            width: 80%;
            max-width: 300px;
            text-decoration: none;
            background-color: #007BFF;
            color: white;
            font-size: 18px;
            border-radius: 8px;
            transition: 0.3s;
        }

                nav a:hover {
            background-color: #0056cc;
        }
 
    